/* Nastavení těla stránky*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/6221798.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
/* Nastavení záhlaví*/
header {
    background-color: rgb(35, 150, 0);
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 2em;
}

/* Nastavení hlavní části stránky*/
main {
    background-color: rgb(35, 150, 0);
    width: 1200px;
    margin: 50px auto;
}

/* Nastavení flexboxů */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container div {
    background-color: rgb(109, 109, 109);
    padding: 20px;
    margin: 20px;
    flex: 25%;
}

/* Respozivní design */
@media screen and (max-width: 1200px) {
    main {
        width: 90%;
    }
    .flex-container div {
        flex-direction: column;
    }
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}